.container {
  height: 100vh;
  width: 100%;
  background: var(--color-gradient);
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container {
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  width: 460px;
  height: 614px;
  padding: 35px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

.header {
  display: flex;
  justify-content: end;
}

img {
  width: 50px;
  padding-top: 18px;
  margin-left: 35px;
}

.container img:hover {
  width: 50px;
  transform: scale(1.2);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 52px;
}

.label-login {
  font-size: 25px;
  font-weight: 500;
}

.email {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.email h1 {
  display: flex;
  justify-content: left;
  font-size: 16px;
  margin-bottom: 8px;
}

.password {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  position: relative;
}

.password h1 {
  display: flex;
  justify-content: left;
  font-size: 16px;
  margin-bottom: 8px;
}

input {
  background-color: var(--input-color);
  width: 350px;
  height: 5vh;
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
  color: var(--text-primary);
  padding-left: 18px;
}

input::placeholder {
  font-size: 14px;
  color: var(--text-input);
}

.eye-icon {
  position: absolute;
  top: 56%;
  right: 10px;
  color: var(--text-input);
  cursor: pointer;
  font-size: 20px;
}

.eye-icon:hover,
.eye-icon:active {
  color: #59b1a1;
}

button {
  width: 350px;
  height: 5vh;
  background: #59b1a1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  margin-top: 35px;
}

button:hover {
  transform: scale(1.05);
}

.forgot-passoword {
  display: flex;
  justify-content: end;
  color: #979494;
  cursor: pointer;
  font-weight: 500;
  font-size: 15px;
}

.forgot-passoword:hover {
  color: #59b1a1;
  font-weight: 500;
}

.register-google {
  font-size: 15px;
  font-weight: 500;
}

.register {
  font-size: 16px;
}

h1 {
  font-size: 18px;
  color: var(--text-primary);
  text-align: center;
  font-weight: 400;
}

span {
  color: var(--text-secondary);
  font-weight: 500;
  cursor: pointer;
}
