.switch {
  width: 60px;
  height: 30px;
  appearance: none;
  background: #dfdfdf;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
  position: relative;
}

.switch::before {
  content: "";
  width: 30px;
  height: 30px;
  background-color: #59b1a1;
  border-radius: 50px;
  position: absolute;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1);
  top: 0;
  left: 0;
  transition: 0.4s;
}

.switch:checked::before {
  left: 30px;
}
