@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Roboto+Mono:wght@300;400;500;600&display=swap");
@import url("./styles/Theme.css");
@import url("./styles/Card.css");
@import url("./styles/Switch.css");

:root {
  background-color: #f1eded;
}

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}
